<ion-header>
  <ion-toolbar>
    <ion-title>Sobre mim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Samuel Alexandre Barbosa da Silva</ion-card-title>
      <ion-card-subtitle>ADS – UNINASSAU</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Matrícula:</strong> 01618857</p>
      <p><strong>Disciplina:</strong> Código de Alta Performance - Mobile</p>
      <p><strong>Descrição:</strong> Aplicativo Ionic que consome Fake Store API para listar produtos e exibir detalhes.</p>
      <p><strong>Contato:</strong> samuel.abarbosas&#64;gmail.com</p>
    </ion-card-content>
  </ion-card>
</ion-content>
