<ion-header>
  <ion-toolbar>
    <ion-title>Sobre</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ana Beatriz Alves de Oliveira Santos</ion-card-title>
      <ion-card-subtitle> Ánalise e Desenvolvimento de Sistemas (ADS) – UNINASSAU</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Matrícula:</strong> 01649518</p>
      <p><strong>Disciplina:</strong> Código de Alta Performance - Mobile</p>
      <p><strong>Descrição:</strong> Desenvolvido com Ionic e Angular consumindo dados da Fake Store API. A aplicação simula uma loja virtual, exibindo produtos, seus detalhes e informações do autor do projeto.
.</p>
      <p><strong>Contato:</strong> samuel.abarbosas&#64;gmail.com</p>
    </ion-card-content>
  </ion-card>
</ion-content>
